name: Build

permissions:
  contents: read

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: false

      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -ldflags "-X main.Build=${{ github.ref_name }}" -v ./...
