name: Go Lint
on: [push]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
